@import "../../../styles/variables";


.contact-us-modal {
    h2 {
        font-size: 32px;
        margin: 0 0 16px 0;
    }

    h4 {
        font-size: 18px;
        margin: 0 0 48px 0;
    }

    .close-icon {
        position: absolute;
        right: 24px;
        top: 24px;
        cursor: pointer;
    }

    .contact-us-form {
        text-align: left;

        .custom-input {
            height: 53px;
            margin-bottom: 24px;
            border-radius: 0px;
            border: 1px solid #878787;
        }

        textarea {
            resize: none;
            width: 100%;
            padding: 12px;
            height: 180px;
            border: 1px solid #878787;
            background: #FFF;
            margin-bottom: 24px;
        }

        p {
            font-weight: 500;
            margin-bottom: 8px;
        }
    }

    .contact-us-checkbox {
        margin-bottom: 40px;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        
        input {
            border: 2px solid $blue;
            width: 18px;
            height: 18px;
            margin-right: 12px;
        }

        span {
            display: inline-block;
            font-weight: 500;
            text-decoration: underline;
        }
    }

    .custom-button {
        border-radius: 16px;
        height: 59px;
    }
}

